#navBar {
    height: 5vh;
    padding: 0 5%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #E9EDC9;
}

#navTitle{
    font-family: cursive;
}

input{
    width: 15%;
    height: auto;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

#coinTable{
    width: 80%; 
    margin: 5vh auto; 
    padding: 0 10px; 
    border-collapse: collapse;
}

td{
    padding: 10px; 
    border: 1px solid #ffffff; 
    text-align: center; 
    border: none;
    
}

th{
    padding: 0px; 
    border: 1px solid #ffffff; 
    text-align: center; 
    border: none;
}
  
tr{
    border-bottom: 1px solid rgba(128, 128, 128,30%);
    height: 9vh;
}

#tableHead{
    height: 4vh;
    border-bottom: 1px solid rgba(128, 128, 128,30%);
}
  
tr:hover {
    background-color: #ddd; 
}
  
th {
    background-color: #7ad27d;
    color: white; 
}

#buttonContainer{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    width: 15vw;
    
}

.homeButton{
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    transition: 0.5s ease-out;
}

.homeButton:hover{
    transform: scale(1.5);
}

.dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 1000;
    right: 2vw;
    position:fixed;
    width: 200px; /* Adjust as needed */
}

.dropdown-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #f6f6f6;
}